@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

html {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  color: rgb(203, 255, 155);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  background-color: #979797;
  max-width: 1000px;
  margin: 0 auto;
  background-image: url("./images/memphis-mini-dark.png");
}
